@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&display=swap');

/* 
    font-family: "Secular One", sans-serif; logo 400
    font-family: "PT Sans", sans-serif; p 400
    font-family: "Fira Sans Condensed", sans-serif; h 300 400 900
*/



/* GLOBAL-STYLES */

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.btn {
    padding: 10px 20px;

    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: opacity 0.3s;
}

.opacity_item:hover{
    opacity: 0.8;
}

.active_item:active{
    opacity: 0.6;
}

/* HEADER */
.header {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 2fr 1fr 2.5fr 0.5fr;
    grid-template-areas: ". logo nav search";
    /* grid-template: "logo nav search" max-content / 1fr 1fr 100px; */

    align-items: center;
    justify-items: start;

    padding: 20px 0;

    text-transform: uppercase;

    overflow: hidden;
}

.logo {
    grid-area: logo;

    width: 150px;

    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;

    color: #FF4747;
}

.header_nav {
    grid-area: nav;
}

.header_nav a {
    padding: 15px;
    padding-left: 0;
    transition: color 0.3s;

    position: relative;
    display: inline-block;
}

.header_nav a:hover {
    color: #01BCB5;
}

.header_nav a:active {
    color: #01A7A1;
}

.header_nav ul {
    display: flex;
    gap: 10px;
}

.header_nav a::after {
    content: "";
    display: block;
    width: 80%;
    height: 80%;

    background-color: #01BCB5;

    position: absolute;
    bottom: -200%;

    transition: bottom 0.5s, background-color 0.3s;
}

.header_nav a:hover::after {
    bottom: -60%;
}

.header_nav a:active::after {
    background-color: #01A7A1;
}

.search {
    grid-area: search;
}

.search_icon {
    stroke: black;
    transition: stroke 0.3s;
}

.search_icon:hover {
    stroke: #01BCB5;
}

.search_icon:active {
    stroke: #01A7A1;
}



/* MAIN */

.main {
    display: grid;

    grid-template:  'slider-arrows healthy thirsty thirsty' 3fr
                    'slider-arrows healthy slider-dots orange' 1fr
                    'freshy healthy slider-dots orange' 3fr / 2fr 1fr 1.5fr 1.5fr;

    /* grid-template-rows: 3fr 1fr 3fr;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    
    grid-template-areas:    'slider-arrows healthy thirsty thirsty'
                            'slider-arrows healthy slider-dots orange'
                            'freshy healthy slider-dots orange'; */

}



/* SLIDER-ARROWS */

.slider-arrows {
    grid-area: slider-arrows;
    position: relative;
}

.slider-arrows_items-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
}

.slider-arrows_nav {
    position: absolute;
    top: 50%;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    transform: translateY(-50%);
}

.slider-arrows_arrows {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 30px;
    border: 2px solid white;
    border-radius: 50%;

    width: 50px;
    height: 50px;

    transition: opacity 0.3s;
}



/* SLIDER-DOTS */

.slider-dots {
    grid-area: slider-dots;
    position: relative;
}
.slider-dots_items-wrapper {
    width: 100%;
    height: 100%;

    display: flex;

}

.slider-dots_btn-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider-dots_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    gap: 10px;

    position: absolute;
    left: 0;
    bottom: 30px;
}
.slider-dots_nav-item {
    width: 12px;
    height: 12px;

    background-color: white;
    border-radius: 50%;
    border: white solid 2px;

    transition: 0.3s;
}

.slider-dots_nav-item--active {
    background-color: transparent;
}


.slider-dots__item, .slider-arrows__item {
  width: 100%;
  height: 100%;
}

.slider-arrows, .slider-dots, .orange {
  height: 400px;
}


/* FRESHY */

.freshy {
    grid-area: freshy;
    background-color: #BEE163;
}
.common {
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
    padding: 30px;
}
.title {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 24px;
    width: 140px;
    font-weight: 300;
    line-height: 1;
}

.title span {
    display: block;

    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2px;
}

.title span::first-line{
    font-weight: 900;
}

.common_desc {
    max-width: 60%;
    hyphens: auto;
}



/* HEALTHY */

.healthy {
    grid-area: healthy;
    background-color: #FF494B;
    padding-bottom: 65px;
    
}

.common--col-rev {
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.common--col-rev .common_desc{
    max-width: 140px;
}



/* THIRSTY */

.thirsty {
    grid-area: thirsty;
    background-color: #FFBA4A;
}
.common--row-rev {
    flex-direction: row-reverse;
}

.common--row-rev .common_desc{
    text-align: right;
}

.thirsty .common_desc{
    max-width: 200px;
}



/* ORANGE */

.orange {
    grid-area: orange;
    position: relative;
}

.orange img{
    width: 100%;
    height: 100%;
}

.orange_btn-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.orange_arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.3s;
}



.wrapper-down {
    display: grid;
    grid-template: "footer sidebar" 1fr / 4.5fr 1.5fr;

    /* grid-template-columns: 4.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer  sidebar"; */
}

/* FOOTER */

.footer {
    padding-top: 80px;

    grid-area: footer;

    display: grid;
    grid-template: ". socials form logo" max-content
                   ". . . copy" 100px / 1fr 1fr 1.5fr 1fr;
    align-items: end;
    align-content: center;

    background-color: #2F2F2F;
    color: white;
}

.socials {
    grid-area: socials;

    display: flex;
    gap: 10px;
}

.socials_link {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    border-radius: 50%;

    height: 40px;
    width: 40px;

    transition: opacity 0.3s;
}


.socials_link:hover{
    opacity: 0.8;
}

.socials_link:active{
    opacity: 0.6;
}

.socials_icon{
    width: 20px;
    height: 20px;
}

.form {
    grid-area: form;
    text-transform: uppercase;
}

.logo-img {
    fill: #6A6A6A;
    justify-self: center;
}

.footer_logo {
    grid-area: logo;
}

.form_title {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.form_row {
    display: flex;
}

.form_input {
    height: 40px;
    width: 165px;
    padding: 0 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s;
}

.form_input:focus{
    background-color: rgba(255, 255, 255, 1);
}

.form_submit-btn {
    background-color: #00C2BA;
    color: white;
    height: 40px;
    padding: 0 20px;
    text-transform: uppercase;

    transition: background-color 0.3s;
}

.form_submit-btn:hover{
    background-color: #01A7A1;
}

.form_submit-btn:active{
    background-color: #01a7a1d7;
}

.copy {
    grid-area: copy;
    color: #6A6A6A;
    align-self: center;
    justify-self: center;
}

/* SIDEBAR */

.sidebar {
    grid-area: sidebar;
    background-color: #00C2BA;
}

.btn--rounded {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidebar p + .btn{
    margin-top: 20px;
}

.sidebar .title{
    width: 100px;
}





/* АДАПТАЦИЯ */

@media (max-width: 1300px) {
    .footer{
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: max-content 100px;
        grid-template-areas: "socials form logo"
                             ". . copy";

        padding-left: 5%;
    }
}

    .slider-arrows_item,
    .slider-dots_item {
        width: 100%;
        height: 100%;
    }

@media (max-width: 1200px) {
    .main {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
        grid-template-areas: "freshy freshy freshy healthy"
                             "slider-arrows slider-arrows slider-arrows healthy"
                             "thirsty thirsty thirsty thirsty"
                             "slider-dots slider-dots orange orange";
    }

    .slider-arrows,
    .slider-dots,
    .orange {
        height: 300px;
    }

    .wrapper-down {
        grid-template-columns: auto;
        grid-template-rows: max-content max-content;
        grid-template-areas: "sidebar" "footer";
    }

    .common--row-rev {
        padding-right: 90px;
    }
    
    .sidebar .common_desc {
        max-width: 200px;
    }

    .sidebar {
        padding-left: 110px;
    }

    .header {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "nav search";
        justify-content: space-between;
        padding: 20px;
    }

    .header_nav {
        justify-self: end;
    }

    .header_nav a {
        padding-right: 0;
        padding-left: 22px;

    }

    .logo {
        position: absolute;
    }

    .search{
        justify-self: end;
    }
}

@media (max-width: 900px) {
    .header {
        grid-template-columns: repeat(3, max-content);
        grid-template-areas: "logo nav search";
        justify-content: space-between;
    }

    .footer {
        text-align: center;
    }

    .form {
        justify-items: center;
    }
}

@media (max-width: 760px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "socials" "form" "logo" "copy";

        gap: 30px;
        padding: 40px 20px;

        justify-items: center;
    }
}

@media (max-width: 700px) {
    .header_nav {
        display: none;
    }
}

@media (max-width: 600px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-areas: "healthy" "slider-arrows" "freshy" "slider-dots" "thirsty" "orange";
    }

    .healthy {
        padding-bottom: 30px;
    }

    .common--col-rev {
        flex-direction: row-reverse;
        justify-content: center;
    }

    .common--col-rev .common_desc,
    .thirsty .common_desc,
    .sidebar .common_desc,
    .common_desc {
        max-width: unset;
    }

    .sidebar {
        padding-left: 30px;
    }
}

@media (max-width: 350px) {
    .common {
        padding: 10px;
        gap: 15px
    }

    .form_input {
        width: 170px;
    }

    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    
}



/* Burger-Menu */

.menu-icon {
    width: 40px;
    height: 30px;

    position: relative;
}

.menu-icon::after, .menu-icon::before {
    content: '';
    position: absolute;
    left: 0;
}

.menu-icon::before {
    top: 0;
    transition: transform 0.3s, top 0.3s 0.3s;
}

.menu-icon::after {
    bottom: 0;
    transition: transform 0.3s, bottom 0.3s 0.3s;
}

.menu-icon_line, .menu-icon::after, .menu-icon::before {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000;
}

.menu-icon--active .menu-icon_line {
    display: none;
}

.menu-icon--active::before {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;

    transition: top 0.3s, transform 0.3s 0.3s;
}

.menu-icon--active::after {
    transform: translateY(50%) rotate(-45deg);
    bottom: 50%;

    transition: bottom 0.3s, transform 0.3s 0.3s;
}
.menu-icon {
    display: none;
}

@media (max-width:700px) {
    .header {
        grid-template-columns: repeat(3, max-content);
        grid-template-areas: "menu-icon logo search";
    }

    .menu-icon {
        display: block;
        grid-area: menu-icon;
    }

    .logo {
        position: static;
        padding-left: 0px;
        justify-self: center;
        text-align: center;
    }

    .search {
        width: 40px;
    }

    .header--mobile {
        min-height: 100vh;

        grid-template: "menu-icon logo search" max-content
                        "nav nav nav" max-content
                        ". . ." max-content;

        align-content: space-between;
        justify-items: center;
    }

    .header_nav {
        transform: none;
    }

    .header--mobile .header_nav {
        display: block;
        justify-self: center;
    }

    .header--mobile .header_nav a {
        padding: 10px 20px;
    }

    .header--mobile .header_nav ul {
        flex-direction: column;
        align-items: center;
    }

    .header_nav a::after {
        display: none;
    }
}


.no-scroll {
    overflow: hidden;
}

button {
    -webkit-tap-highlight-color: transparent;
}



.slider-arrows_item, .slider-dots_item {
    animation: fade 1s;
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}